#divConferenceMainContainer{
    /* align-items : right; */
    display: flex;
    flex-direction: row;
}
#divConferenceListContainer{
    flex-grow: 1;
}
#divConferenceAddContainer{
    flex-grow: 1;
}

