{% extends "upper_menu.html" %}

{% block content %}
    <style>
        body {
           
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Set the height of the body to viewport height */
        }
        .center-text {
            text-align: center;
            color: rgb(0, 0, 0); /* Ensuring text is readable against the background image */
        }
    </style>
    <div class="center-text">
        <h1>Conference Management System</h1>
    </div>
{% endblock %}
